* {
    padding: 0;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template: 4rem auto auto / auto;
}

header {
    grid-row: 1;
    display: grid;
    grid-template: auto / auto auto auto;
}

main {
    grid-row: 2;
    display: grid;
    grid-template: auto auto / auto;
}

main .index-welcome {
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .index-welcome h1 {
    padding: 3rem 0 3rem 0;
}

main .index-movies {
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main .index-movies .article-movie {
    height: 20rem;
    width: 12rem;
    border: 1px solid red;
    margin: 1rem 2rem 1rem 2rem;
}

footer {
    grid-row: 3;
}